body, html
  height 100%
  width 100%
  margin 0
  
.state-hidden
  display none !important

#app-nir
  font-family "Helvetica Neue"
  font-weight 300
  
  #views
    position absolute
    height 100%
    width 100%
    
  .modal
    position absolute
    box-sizing border-box
    top 50%
    left 50%
    padding 30px
    background-color #f5f5f5
    color #666
    
  #view-interpreters
  #view-service-orders
    
    .input-filter
      width 30%
    
    .modal
      width 90%
      height 510px
      margin -250px -45%
      
    .header
      padding 10px 0 5px
      font-weight 400
      color #444
      border-bottom 1px solid #ddd
      
      .text:last-child
        margin-right 16px
      
    .container
      position relative
      width 100%
      height 80%
      overflow-y scroll
      
      .row
        position relative
        display inline-block
        width 100%
        padding 10px 0
        font-size 13px
        border-bottom 1px solid #e4e4e4
        
    .btn-edit
    .btn-delete
      cursor pointer
      padding 0 6px
      float right
      
    .btn-delete
      margin-right 10px
        
    .btn-add
      cursor pointer
      display inline-block
      margin 15px 0
      padding 8px 16px
      background #fff
      font-size 13px
      box-shadow 0 2px 5px 1px #eee
    
  textarea
  input
    box-sizing border-box
    outline none
    border 0
    padding 8px
  
  
