#view-service-orders

  .modal

    input.input-filter(placeholder="Filter")

    .header
      span.text Company
      span.text Interpreter
      span.text Client
      span.text Start Time
      span.text End Time
      span.text Start Date
      span.text End Date
      span.text Action

    .container.container-service-orders

    .btn-add Add service order