#view-calendar
  position relative
  width 90%
  height 560px
  margin 50px auto
  box-shadow 0 0 5px 2px #eee
  
  .container-calendar
    position absolute
    top 50px
    width 100%
    height 510px
    
  input
    z-index 1
    position absolute
    box-sizing border-box
    width 18%
    color #666
    border 1px solid #eee
    
    &.input-date
      margin 8px
      font-size 11px
      padding 6px 12px
      
    &.input-filter
      top 50px
      margin 0 8px





