#view-new-interpreter
#view-new-service-order
  
  .modal
    width 90%
    height 510px
    margin -250px -45%
    
  .text
    font-size 12px
    margin 0 0 5px
    
  input
    margin 0 0 5px
    
  .container
    display inline-block
    
    &:nth-child(even)
      float right
      
    &:nth-child(odd)
      float left