#view-new-interpreter
#view-new-service-order
  
  &:not(.state-existing)
    #container-existing-service-order
      display none
    
  &.state-existing
    #container-new-service-order
      display none
  
  .modal
    width 500px
    margin -250px -250px
    
  .text
    font-size 12px
    margin 0 0 5px
    
  input
    width 100%
    margin 0 0 10px
    
  .container
    width 45%
    display inline-block
    
    &:nth-child(even)
      float right
      clear right
      
    &:nth-child(odd)
      float left
      clear left
      
  .container-full
    width 100%
    float left
    
    input, textarea
      width 100%
      
    textarea
      height 80px
      
  .btn
    cursor pointer
    display inline-block
    padding 8px 20px
    margin 10px 0
    background-color #fff
    box-shadow 0 1px 2px 2px #eee
    font-size 13px
      
  #container-new-service-order
  #container-existing-service-order
    float left
    clear left
    position relative
