#view-new-interpreter

  .modal

    .text First
    input
    .text Last
    input
    .text Address
    input
    .text Address Line 2
    input 
    .text Phone
    input 
    .text Email
    input
    .text Daytime Rate
    input
    .text Nighttime Rate
    input
    .text Holiday Rate
    input
    .text Certification
    input
    .text School Clearance
    input
    .text Additional
    textarea

    .btn-save Save