#view-new-interpreter

  .modal

    .container
      .text First
      input
    .container
      .text Last
      input
    .container
      .text Address
      input
    .container
      .text Address Line 2
      input 
    .container
      .text Phone
      input 
    .container
      .text Email
      input
    .container
      .text Daytime Rate
      input
    .container
      .text Nighttime Rate
      input
    .container
      .text Holiday Rate
      input
    .container
      .text Certification
      input
    .container
      .text School Clearance
      input
    .container-full
      .text Additional
      textarea

    .container-full
      .btn.btn-save Save