#app-nir.state-loading

  include auth/index
  include nav/index

  #views
    
    include calendar/index
    include interpreters/index
    include service_orders/index

    include forms/interpreter
    include forms/service_order