#view-interpreters

  .modal

    input.input-filter(placeholder="Filter")

    .header
      span.text First
      span.text Last
      span.text Action

    .container.container-interpreters

    .btn-add Add interpreter